@font-face {
    font-family: "Aku-Kamu";
    src: url(/fonts/Aku-Kamu.otf);
}

@font-face {
    font-family: "Muller-Light";
    src: url(/fonts/mullernarrow-light.woff2);
}

@font-face {
    font-family: "Muller-Extrabold";
    src: url(/fonts/mullernarrow-extrabold.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
strong {
    font-family: "Muller-Extrabold", -apple-system, Helvetica, Arial, sans-serif;
}

body,
input {
    font-family: "Muller-Light", -apple-system, Helvetica, Arial, sans-serif;
}

-apple-system,
Helvetica,
Arial,
.md-header-nav__title {
    font-family: "Aku-Kamu", serif;
}

.md-main::before {
    height: 35rem;
    position: relative;
    display: block;
    content: "";
    background: url(/assets/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: #464646;
}

.md-source__facts {
    display: none;
}

#the-activism-cloud~.admonition.question:first-of-type {
    font-size: 1.1em;
}

#the-activism-cloud~.admonition p:not(.admonition-title):first-of-type {
    font-size: 1.3em;
}

a.md-header-nav__button>img,
.md-logo img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 100%;
}

.md-header .md-header-nav:after {
    content: '';
    background: url(/assets/fist-transparent.svg);
    width: 265px;
    height: 256px;
    position: absolute;
    top: -16rem;
    left: calc(50% - 128px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .5s;
}

.md-header:not([data-md-state="hidden"]) .md-header-nav:after {
    top: 12rem;
}
